t
venv
__pycache__

#grid_sizes.csv
#sample_submission.csv
three_band/
sixteen_band/
train_geojson_v3/
*.csv.gz

download_data.sh
checkpoint-folder
align_cache
im_cache
train_wkt_v4FULL.csv
train_wkt_v4SMALL.csv